body{
   background-color: initial;
}

#MichaelaJ{
   background-color:initial;
   font-family:initial;
   color:initial;
   
}

#AnnaK{
   background-color: azure;
   font-family: initial;
   color:initial;
   
}

#KaterinaCh{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#VeronikaB{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#SvetlanaU{
   background-color: initial;
   font-family: initial;
   color:initial;
   

}
