body{
   background-color: initial;
}

#MichaelaJ{
   background-color:indigo;
   font-family:inherit;
   color:indianred;
   
}

#AnnaK{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KaterinaCh{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#VeronikaB{
   background-color: yellow  ;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:blue;
   
}

#SvetlanaU{
   background-color: initial;
   font-family: initial;
   color:initial;
   

}
