body{
   background-color: initial;
}

#MichaelaJ{
   background-color:initial;
   font-family:initial;
   color:initial;
   
}

#AnnaK{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KaterinaCh{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#VeronikaB{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#SvetlanaU{
   background-color: #333333;
   font-family: Arial, sans-serif;
   color: #ffffff;
   padding: 20px;
   border-radius: 8px; 
   text-align: left;
   

}
